body{
    width: 60%;
    background-color: lightblue;
    margin: 0 auto;
}

/* general */
* {
    font-family: calibri, Arial, Helvetica, sans-serif;
}
.marginBothsides{
    margin: 0 3rem;
}
.sectionSpacing{
    margin-bottom: 1rem;
}
.sectionSpacing > * {
    margin-bottom: 0.10rem;
}
#fullName{
    padding-top: 0.25rem;
}
h1,h2,h3,h4,p,ul,hr,section,main{
    margin: 0;
}
.links{
    display: flex;
    justify-content: space-between;
}

/* top */
#selfPortrait{
    height: 5rem;
    width: 5rem;
    float:right;
    border-radius: 4rem;
    border: 0.124rem solid;
    border-color: black;
}
#fullName{
    text-align: center;
}
header{
    background-color: white;
}

/* Main */
main{
    background-color: white;
    margin-top: 0px;
    padding-bottom: 7rem;
}